.venv
.vscode
/.env
/.idea
diagrams
splits/*
!splits/.gitkeep
.ipynb_checkpoints
.idea
__pycache__
__pycache__/*
# just ignore the pdfs
/pdfs/*.pdf
pdf_extractions/nougat_OCR/nougat_output
pdf_extractions/nougat_OCR/*.parquet
pdf_extractions/pypdfextraction/*.parquet